:root {
  --grid-width: 1140px;
  --grid-gutter: 0.5em;
}

.container {
  max-width: var(--grid-width);
  margin: auto;
}

.row {
  display: flex;
}

.col {
  width: fit-content;
  padding: 0 var(--grid-gutter);
}
